/* Шапка */

/* Картинка логотипа */
.listimg{
    display: flex;
    padding-left: 101px;
    padding: 16px 224px 16px 101px;
}
.listimg img{
    width: 64px;
    height: 64px;
}
/* Текст в меню */
.textmenu a{
    text-decoration: none;
    color: #585454;
    font-family: Arial, Helvetica, sans-serif ;

}
.textmenu{
    display: flex;
    gap: 245px;
}
/* Общий флексбокс 2 дивов */
.listheader{
    display: flex;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(2, 2, 2);
    border-radius: 5px;
    margin: 0px 124px 0px 106px;
}

.listheader nav{
    display: flex;
    list-style: none;
    gap: 120px;
    font-weight: normal;
    justify-content: center;
    padding: 42px 220px 41px 0px; 
    font-size: 18px;
}
/* Обращение к блоку header */
header{
    display: flex;
    justify-content: center;
    padding: 26px 0px 90px 0px;

}

/* Главная страница */
/* флексит main и aside */
.conteiner{
    display: flex;
    padding-block-end: 24px;
}
/* aside блок */
aside{
    background-color: blue;
    width: 200px;
    display: flex;
    flex-grow: 0;
    position: sticky;
}
/* main блок */
main{
    background-color: red;
    display: flex;
    flex-grow: 1;
}
/* футер */
footer{
    background-color: rgb(0, 0, 0);
    nav-index: 1000;
}
/* Главный блок футера */
.fottermain{
    display: flex;
    justify-content: center;
    gap: 516px;
    list-style: none;
    padding-block-end: 25px;
    padding-right: 10px;
}
/* 1 блок футера */
.fot1{
    color: #585454;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.fot1 img{
    width:46px;
    height: 29px;
}
.fot1 p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #585454;
}
/* 2 блок футера */
.fot2{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    padding-top: 4px;
    gap: 6px;
}
.fot2 a{
    color: #585454;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
}
.fot2 p{
    color: #585454;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/* блоки ссылок на вк и ютуб */
.seti{
    display: flex;
    justify-content: center;
    gap: 6px;
}

/* Тело */
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0%; 
}